@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$FONT_S: 16px;
$FONT_M: 20px;

$MONTSERRAT: 'Montserrat', sans-serif;

$LINE_HEIGHT: 1.5;

@mixin font-montserrat-s-light() {
    font-family: $MONTSERRAT;
    font-size: $FONT_S;
    line-height: $LINE_HEIGHT;
    font-style: normal;
    font-weight: 300;
}

@mixin font-montserrat-m-light() {
    font-family: $MONTSERRAT;
    font-size: $FONT_M;
    line-height: $LINE_HEIGHT;
    font-style: normal;
    font-weight: 300;
}

@mixin font-montserrat-s() {
    font-family: $MONTSERRAT;
    font-size: $FONT_S;
    line-height: $LINE_HEIGHT;
    font-style: normal;
    font-weight: 400;
}

@mixin font-montserrat-m() {
    font-family: $MONTSERRAT;
    font-size: $FONT_M;
    line-height: $LINE_HEIGHT;
    font-style: normal;
    font-weight: 400;
}

@mixin font-montserrat-s-medium() {
    font-family: $MONTSERRAT;
    font-size: $FONT_S;
    line-height: $LINE_HEIGHT;
    font-style: normal;
    font-weight: 600;
}

@mixin font-montserrat-m-medium() {
    font-family: $MONTSERRAT;
    font-size: $FONT_M;
    line-height: $LINE_HEIGHT;
    font-style: normal;
    font-weight: 600;
}

@mixin font-montserrat-s-bold() {
    font-family: $MONTSERRAT;
    font-size: $FONT_S;
    line-height: $LINE_HEIGHT;
    font-style: normal;
    font-weight: 700;
}

@mixin font-montserrat-m-bold() {
    font-family: $MONTSERRAT;
    font-size: $FONT_M;
    line-height: $LINE_HEIGHT;
    font-style: normal;
    font-weight: 700;
}