$WHITE: #fff;
$LIGHT_GRAY: #D3D3D3;
$GRAY: #AEAEAE;
$RED: #936262;
$DARK_RED: #4C0606;
$RED_DANGER: #EF0505;
$LIGHT_RED_DANGER: #F89191;
$DARK_RED_DANGER: #B90707;
$BLACK: #2E2E2E;
$OVERLAY: #0000004D;

//OVERLAY
$OVERLAY_BGC: $OVERLAY;

//TEXT
$TEXT: $BLACK;
$TEXT_ERROR: $RED_DANGER;

// BUTTON
$PRIMARY_BUTTON_BGC: $BLACK;
$PRIMARY_BUTTON_BGC_HOVER: $RED;
$PRIMARY_BUTTON_BGC_FOCUS: $DARK_RED;
$PRIMARY_BUTTON_TEXT: $WHITE;

$DANGER_BUTTON_BGC: $RED_DANGER;
$DANGER_BUTTON_BGC_HOVER: $LIGHT_RED_DANGER;
$DANGER_BUTTON_BGC_FOCUS: $DARK_RED_DANGER;
$DANGER_BUTTON_TEXT: $WHITE;

$PRIMARY_BUTTON_BGC_DISABLED: $GRAY;

// INPUT
$INPUT_BGC: transparent;
$INPUT_BORDER: $LIGHT_GRAY;
$INPUT_BORDER_HOVER: $RED;
$INPUT_BORDER_FOCUS: $DARK_RED;
$INPUT_TEXT: $BLACK;
$INPUT_PLACEHOLDER: $GRAY;

$INPUT_ERROR_BORDER: $RED_DANGER;
$INPUT_ERROR_BORDER_HOVER: $LIGHT_RED_DANGER;
$INPUT_ERROR_BORDER_FOCUS: $DARK_RED_DANGER;

// LINK
$LINK_TEXT: $BLACK;
$LINK_TEXT_HOVER: $RED;
$LINK_TEXT_FOCUS: $DARK_RED;

// SELECT
$SELECT_OPTIONS_SELECTED_BGC: $RED;
$SELECT_OPTIONS_SELECTED_TEXT: $WHITE;