$WHITE: #fff;
$LIGHT_GRAY: #D3D3D3;
$GRAY: #AEAEAE;
$RED: #B01B1B;
$DARK_RED: #4C0606;
$BLACK: #2E2E2E;

//TEXT
$TEXT: $BLACK;

// BUTTON
$PRIMARY_BUTTON_BGC: $BLACK;
$PRIMARY_BUTTON_BGC_HOVER: $RED;
$PRIMARY_BUTTON_BGC_FOCUS: $DARK_RED;
$PRIMARY_BUTTON_TEXT: $WHITE;

// INPUT
$INPUT_BGC: transparent;
$INPUT_BORDER: $LIGHT_GRAY;
$INPUT_BORDER_HOVER: $RED;
$INPUT_BORDER_FOCUS: $DARK_RED;
$INPUT_TEXT: $BLACK;
$INPUT_PLACEHOLDER: $GRAY;

// LINK
$LINK_TEXT: $BLACK;
$LINK_TEXT_HOVER: $RED;
$LINK_TEXT_FOCUS: $DARK_RED;